/* ------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
----------------------------------------------RWD 880----------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------- */


@media only screen and (max-width: 880px) {
    
    #foot{
        height: 100vh;
    }
    


    #nav a p{
        margin-top:2vh;
        text-align: center;
        font-size:0.8rem;
        font-weight:300;
        margin-top:8vh;
    }

    #mail{
        flex-direction: column;
        margin-top:10vh;
    }

    #mail input{
        width:25vw;
    }

    #mailbutton{
        margin-top:3vh;
    }

    #mailbutton p{
        text-align: center;
    }

    #logo img{
        margin-left:36vw;
    }

    #subtext{
        margin-left:34vw;
        margin-right:34vw;
        /* margin-left:33vw; */
    }

/*-------------------------------------------------------------------------------------------------------
--------------------------------------Button--------------------------------------------------------------
--------------------------------------------------------------------------------------------------------*/

    #contButton{
        flex-direction: column;
    }

    #top1 p{
        text-align: center;
        margin-left:0vw;
    }



/*-------------------------------------------------------------------------------------------------------
--------------------------------------content 3--------------------------------------------------------------
--------------------------------------------------------------------------------------------------------*/

    #line1{
        flex-direction: column;
    }


    #line2{
        flex-direction: column-reverse;
    }

    #Phone12 img{
        margin-left:20vw;
    }

    #Phone22 img{
        margin-left:25vw;
    }

/*-------------------------------------------------------------------------------------------------------
--------------------------------------cont 3--------------------------------------------------------------
--------------------------------------------------------------------------------------------------------*/

    #cont3{
        flex-direction: column-reverse;
        /* height:auto; */
    }

    #content2{
        height:auto;
    }

    #cont3right{
        margin-left:28vw;
    }
    
    #subhead{
        margin-bottom:20vh;
    }
    

}