/* ------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
----------------------------------------------RWD 367----------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 670px) {

    #Phone22 img{
        height:35vh;
        margin-left:10vw;
    }

    #Phone12 img{
        height:15vh;
    }

    #cont3right img{
        margin-right:0vw;
        margin-left:-3vw;
    }

    #Phone2 img{
        margin-right:0vw;
    }

    #Phone1 img{
        margin-right:0vw;
    }

    #nav{
        flex-direction: column;
    }

    #nav a p{
        margin-top:0vh;
    }
/*     
-----------------------------------------------------------------------------------
---------------------------------------div-----------------------------------------
----------------------------------------------------------------------------------- */

    #nav{
        padding-top:10vh;
    }

    #logo img{
        height:20vh;
        margin-left:29.5vw;
        margin-top:2vh;
    }

    #subtext{
        flex-direction:column;
        text-align:center;
        margin-top:-8vh;
    }

    #socials{
        margin-left:15vh;
        margin-right:15vh;
    }

    .video-container h1{
        margin-left:32vw;
    }

    #Phone1{
        margin-left:9vh;
    }

    #Phone1 img{
        height:40vh;
    }

    #cont1 p{
        margin-top:2vh;
        text-align:center;
        font-size:1rem;
    }

    #Phone2 img{
        height:40vh;
        margin-left:16vw;
    }

    #cont2 p{
        text-align:center;
        margin-top:5vh;
        font-size:1rem;
    }

    #cont3right img{
        margin-left:-8vh;
    }

    #head p{
        font-size:2rem;
        text-align: center;
    }

    #subhead p{
        text-align:center;
    }

    #Phone12 img{
        margin-left:8vw;
    }

    #Phone22 img{
        height:30vh;
        margin-left:20vw;
    }


}