/* ------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
----------------------------------------------RWD 412----------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 670px) {

    #cont3right img{
        margin-left:-23vw;
    }

    #Phone22 img{
        margin-left:12vw;
    }

    #cont2{
        margin-left:10vw;
        margin-right:10vw;
    }

    #cont2 p{
        margin-left:0vw;
        margin-right:0vw;
    }

    #Phone12 img{
        margin-left:2vw;
        
    }

    #Phone1{
        margin-left:10vw;
    }

    #Phone2 img{
        margin-left:13vw;
    }



}
